@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --hover-bg:rgba(23, 102, 206, 0.756);
}
body{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(16,16,112,1) 0%, rgba(0,0,0,1) 100%);
    overflow: hidden;
    scrollbar-width: none;


}

.textShadow{
    text-shadow: 0 0 10px #217cbd;
}
.bg-1{
  background: url("./assets/wood.jpg") no-repeat center ;
  background-size: cover;
  box-shadow:  0 0 35px 3px #111111;
}
.bg-2{
  background: url("./assets/wooden-texture.jpg") no-repeat center ;
  background-size: cover;
  opacity: 1;
}
.shadow1{
  box-shadow: 0 0  1px #070707;
}
.bg-circle-black{
  background: url("./assets/black.png") no-repeat center ;
  background-size: cover;
}
.bg-circle-white{
  background: url("./assets/white.png") no-repeat center ;
  background-size: cover;
}